@charset "UTF-8";

/*-----reset-----*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

a {
  text-decoration: none;
}

/*-----common-----*/
body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS UI Gothic",Helvetica,Arial,sans-serif;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  color: #000000;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

.cf {
  zoom: 1;
  /* for IE6/7 */
}

.mR10 {
  margin-right: 10px;
}

.boR {
  border-right: 1px solid #CFD0D0;
}

/*-----main-----*/
#wrapper {
  width: 100%;
  min-width: 300px;
  height: auto;
}

.contents {
  padding: 10px;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
}

/*-----header-----*/
#header {
  position: relative;
  width: 100%;
  height: 54px;
  background: #B993D6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #B993D6, #8CA6DB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #B993D6, #8CA6DB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
}

#header .mainLogo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 148px;
  height: 34px;
  background: url(../images/mainlogo.png) no-repeat 0 0;
  background-size: 148px 34px;
  -webkit-background-size: 148px 34px;
  -moz-background-size: 148px 34px;
  text-indent: -9999px;
}

#header .mainLogo:hover {
  cursor: pointer;
}

#header .loginArea {
  position: absolute;
  top: 10px;
  right: 10px;
}

#header .loginArea ul {
  height: 30px;
}

#header .loginArea ul li {
  float: left;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 1.9;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#header .loginArea ul li a {
  display: block;
  width: 100px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 5px;
  color: #ffffff;
}

#header .loginArea ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/*-----navi-----*/
#nav {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #CFD0D0;
  overflow: hidden;
}

#nav ul li {
  display: table-cell;
  float: left;
  width: 33%;
  padding: 8px 0px;
  text-align: center;
  color: #999999;
  cursor: pointer;
}

#nav ul li.active {
  color: #ffffff;
  background-color: #999999;
}

#nav ul li:hover {
  color: #ffffff;
  background-color: #999999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/*-----maininfo-----*/
.mainInfo {
  width: 100%;
}

.mainInfo .iconImage {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  border: 1px solid #CFD0D0;
  border-radius: 4px;
}

.mainInfo .account {
  color: #999999;
  font-size: 0.8em;
}

.mainInfo span {
  font-size: 0.9em;
}

.mainInfo .followButton {
  color: #e4007f;
  border: 1px solid #e4007f;
  border-radius: 5px;
  padding: 7px 10px;
  margin-top: 15px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.mainInfo .followButton.following {
  color: #999999;
  border: 1px solid #999999;
}

.mainInfo .followButton.following:hover {
  color: #ffffff;
  background-color: #999999;
}

.mainInfo .followButton.unfollowing {
  color: #e4007f;
  border: 1px solid #e4007f;
}

.mainInfo .followButton.unfollowing:hover {
  color: #ffffff;
  background-color: #e4007f;
}

/*-----tab-----*/
.tabArea ul.tabs {
  display: table;
  width: 100%;
  border: 1px solid #999999;
  border-radius: 5px;
  table-layout: fixed;
}

.tabArea ul.tabs li {
  display: table-cell;
}

.tabArea .tabs a {
  display: block;
  padding: 5px 0px;
  text-align: center;
  color: #999999;
}

.tabArea .tabs a.tab1 {
  margin-right: -1px;
}

.tabArea .tabs a.boR {
  border-right: 1px solid #999999;
}

.tabArea .tabs a.active {
  color: #ffffff;
  background-color: #999999;
}

.tabArea .tabs a:hover {
  color: #ffffff;
  background-color: #999999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tabArea .viewMore {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #999999;
  text-align: center;
}

/*-----tab__images-----*/
#images ul {
  overflow: hidden;
}

#images ul li img {
  float: left;
  min-width: 288px;
  max-width: 458px;
  height: auto;
  margin: 10px 10px 10px 0px;
  border: 1px solid #EAEAEA;
}

#images .startButton {
  width: 250px;
  color: #5375b1;
  border: 1px solid #5375b1;
  border-radius: 5px;
  padding: 7px 10px;
  margin-top: 50px;
  font-weight: bold;
  cursor: pointer;
}

#images .startButton:hover {
  color: #ffffff;
  background-color: #5375b1;
}

/*--------------------dashboard----------------------*/
/*-----tab__followList-----*/
.tabArea .box {
  margin: 10px auto;
}

.tabArea #followList h1 {
  color: #e4007f;
  font-weight: bold;
}

.tabArea #followList h2 {
  font-weight: bold;
}

.tabArea #followList h2 img {
  margin-right: 5px;
}

.tabArea #followList ul {
  margin: 0 auto;
  overflow: hidden;
}

.tabArea #followList ul li {
  float: left;
  display: table-cell;
  width: 200px;
  height: auto;
  margin: 10px 10px 5px;
}

.tabArea #followList ul li img {
  width: 200px;
  height: 200px;
  border: 1px solid #EAEAEA;
}

.tabArea #followList ul li h2 {
  font-weight: bold;
  margin-top: 10px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-----schedule-----*/
.schedulePeriod {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: black;
}

.schedulePeriod .scheduleYear {
  margin-left: 5px;
}

.schedulePeriod .scheduleMonth {
  margin-left: 10px;
}

.scheduleDayWrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.scheduleDayWrapper .scheduleDayBox {
  float: left;
  width: 10%;
  color: black;
  text-align: center;
}

.scheduleDayWrapper .scheduleDayBox.finished {
  color: #999;
}

.scheduleDayWrapper .scheduleDayBox.today {
  color: #d31277;
}

.scheduleDayWrapper .scheduleDayBox .scheduleDay {
  margin-top: 9px;
  font-size: 14px;
}

.scheduleDayWrapper .scheduleDayBox .scheduleDayOfTheWeek {
  font-size: 10px;
}

.scheduleDayWrapper .scheduleContentBox {
  position: relative;
  float: right;
  margin-bottom: 10px;
  padding-bottom: 5px;
  width: 87%;
  background: #5375b1;
}

.scheduleDayWrapper .scheduleContentBox.finished {
  background: #898989;
}

.scheduleDayWrapper .scheduleContentBox .scheduleContentTime {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 11px;
  color: white;
}

.scheduleDayWrapper .scheduleContentBox .scheduleContentName {
  margin-left: 5px;
  width: 85%;
  font-size: 13px;
  color: white;
}

.scheduleDayWrapper .scheduleContentBox .scheduleContentDescription {
  margin-left: 5px;
  width: 85%;
  font-size: 12px;
  color: white;
}

.scheduleDayWrapper .scheduleContentBox .scheduleContentReserveButton {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 92px;
  height: 30px;
  background: #cacfe3;
  border: 1px solid #d31277;
  border-radius: 5px;
  color: #d31277;
  font-size: 14px;
  text-align: center;
  line-height: 2em;
}

.scheduleDayWrapper .scheduleContentBox .scheduleStar {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: #b5b6b6;
}

.scheduleDayWrapper .scheduleContentBox .scheduleStar.active {
  background: #d31277;
}

.scheduleDayWrapper .scheduleNowDivider {
  position: relative;
  float: right;
  margin-top: -2px;
  margin-bottom: 8px;
  width: 87%;
  height: 1px;
  background: #d31277;
}

.scheduleDayWrapper .scheduleNowDivider:before {
  position: absolute;
  top: -5px;
  right: 100%;
  content: "";
  width: 10px;
  height: 10px;
  background: #d31277;
  border-radius: 50%;
}

.scheduleAddBox {
  box-sizing: border-box;
  position: absolute;
  top: 330px;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  height: auto;
  background: white;
  border: 10px solid rgba(0, 0, 0, 0.3);
  color: #898989;
  font-size: 12px;
  z-index: 50;
}

.scheduleAddBox input {
  margin-left: 10px;
  margin-right: 5px;
  min-height: 15px;
  border: 1px solid #898989;
  border-radius: 3px;
}

.scheduleAddBox textarea {
  margin-left: 10px;
  margin-right: 5px;
  border: 1px solid #898989;
  border-radius: 3px;
}

.scheduleAddBox .scheduleAddTitle {
  margin-top: 10px;
  margin-left: 10px;
  color: #5375b1;
  font-size: 14px;
}

.scheduleAddBox .scheduleAddSubTitle {
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  color: #898989;
  font-size: 14px;
}

.scheduleAddBox .scheduleAddMultiArea {
  overflow: hidden;
}

.scheduleAddBox .scheduleAddInputDay {
  width: 20%;
}

.scheduleAddBox .scheduleAddInputTime {
  width: 30%;
}

.scheduleAddBox .scheduleAddInputEventTitle {
  width: 90%;
}

.scheduleAddBox .scheduleAddSpotArea {
  float: left;
  width: 40%;
}

.scheduleAddBox .scheduleAddSpotArea .scheduleAddInputSpot {
  width: 100%;
}

.scheduleAddBox .scheduleAddCostArea {
  float: left;
  margin-left: 10px;
  width: 40%;
}

.scheduleAddBox .scheduleAddCostArea .scheduleAddInputCost {
  width: 70%;
}

.scheduleAddBox .scheduleAddInputEventDescription {
  width: 90%;
  min-height: 60px;
}

.scheduleAddBox .scheduleAddButtonArea {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.scheduleAddBox .scheduleAddButtonOtherTime {
  display: block;
  float: left;
  margin-right: 5px;
  padding: 5px;
  width: 43%;
  border: 1px solid #5375b1;
  border-radius: 3px;
  color: #5375b1;
  font-size: 14px;
  text-align: center;
}

.scheduleAddBox .scheduleAddButtonComplete {
  display: block;
  float: left;
  margin-left: 5px;
  padding: 5px;
  width: 43%;
  border: 1px solid #db1277;
  border-radius: 3px;
  color: #db1277;
  font-size: 14px;
  text-align: center;
}

/*-- fyucha --*/
.fyuchaTotal {
  margin-top: 10px;
  margin-right: 0px;
  font-size: 12px;
  color: #db1277;
  text-align: right;
}

.fyuchaTotal .fyuchaToalNumerals {
  margin-left: 5px;
  font-size: 18px;
}

.fyuchaGraph {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 200px;
  background: #db1277;
}

.fyuchaCommitsTitle {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  color: #db1277;
}

.fyuchaCommits .fyuchaCommit {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-bottom: 1px solid #c9caca;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitUserArea {
  position: relative;
  float: left;
  width: 50%;
  height: 42px;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitUserArea .fyuchaCommitUserThumbnail {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 28px;
  height: 28px;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitUserArea .fyuchaCommitUserThumbnail img {
  width: 28px;
  height: auto;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitUserArea .fyuchaCommitUserName {
  position: absolute;
  top: 5px;
  left: 35px;
  color: black;
  font-size: 12px;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitUserArea .fyuchaCommitUserAccount {
  position: absolute;
  top: 23px;
  left: 35px;
  color: #c9caca;
  font-size: 10px;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitActionArea {
  position: relative;
  float: right;
  width: 50%;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitActionArea .fyuchaCommitActionText {
  position: absolute;
  top: 12px;
  right: 40px;
  color: #333333;
  font-size: 12px;
}

.fyuchaCommits .fyuchaCommit .fyuchaCommitActionArea .fyuchaCommitActionNumerals {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 23px;
  height: 35px;
  color: #db1277;
  font-size: 10px;
  text-align: center;
  background: url("../images/diamond.png") no-repeat;
  background-position: 0px 15px;
}

/* -- ダッシュボード画像/動画 -- */
.dashboardPhotosEditStartButton {
  box-sizing: border-box;
  position: fixed;
  top: 300px;
  right: 0px;
  padding-top: 10px;
  width: 34px;
  height: 60px;
  background: #8eabc8;
  color: white;
  font-size: 14px;
  text-align: center;
  z-index: 30;
  cursor: pointer;
}

.dashboardPhotos {
  margin-top: 20px;
}

.dashboardPhotos.edit .dashboardPhotoEditButtonArea {
  display: none;
}

.dashboardPhoto {
  margin-top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: auto;
}

.dashboardPhoto img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 10;
}

.dashboardPhoto .dashboardPhotoEditButtonArea {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
  float: right;
  width: 112px;
  letter-spacing: 1px;
  text-align: center;
  z-index: 20;
}

.dashboardPhoto .dashboardPhotoEditButtonArea .dashboardPhotoAppearButton {
  box-sizing: border-box;
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 54px;
  background: #db1277;
  border: 2px solid #dfdfdf;
  border-radius: 5px 0 0 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.dashboardPhoto .dashboardPhotoEditButtonArea .dashboardPhotoHideButton {
  box-sizing: border-box;
  float: left;
  margin-left: -1px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 54px;
  background: #999999;
  border: 2px solid #dfdfdf;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.dashboardPhoto .dashboardPhotoEditButtonArea.hide .dashboardPhotoAppearButton {
  background: -webkit-linear-gradient(to bottom, #fefefe, #c5c5c5);
  background: linear-gradient(to bottom, #fefefe, #c5c5c5);
  text-indent: -9999px;
  cursor: pointer;
}

.dashboardPhoto .dashboardPhotoEditButtonArea.appear .dashboardPhotoHideButton {
  background: -webkit-linear-gradient(to bottom, #fefefe, #c5c5c5);
  background: linear-gradient(to bottom, #fefefe, #c5c5c5);
  text-indent: -9999px;
  cursor: pointer;
}

/*-----signup-----*/
.signup {
  width: 100%;
}

.signup h1 {
  color: #e4007f;
  font-weight: bold;
  padding-bottom: 10px;
}

.signup h2 {
  font-weight: bold;
}

.signup .box {
  float: left;
}

.signup .box.name {
  padding-left: 15px;
}

.signup .after {
  clear: both;
}

.signup .iconImage {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border: 1px solid #CFD0D0;
  border-radius: 4px;
}

.signup .account {
  color: #999999;
  font-size: 0.8em;
}

.signup span {
  font-size: 0.9em;
}

.signup .label {
  color: #999999;
}

.signup .description {
  padding-bottom: 10px;
  color: #999999;
  font-size: 0.8em; }

.signup input {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.3em;
  border:solid 2px #999999;
  width:300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.signup .submitButton {
  width:280px;
  color: #e4007f;
  border: 1px solid #e4007f;
  border-radius: 5px;
  padding: 7px 10px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer; }

.signup .submitButton:hover {
  color: #ffffff;
  background-color: #e4007f; }

/*-----lp-----*/
.lp img {
  width: 100%;
  height: auto;
}
