@charset "utf-8";

/*-----reset-----*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
a {
	text-decoration:none;
}

/*-----common-----*/

body {
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS UI Gothic",Helvetica,Arial,sans-serif;
	font-size:1.0em;
	margin:0;
	padding:0;
	color:#000000;
}

.cf:after {
	content: '';
    display: block;
    clear: both;
}

.cf {
	 zoom: 1; /* for IE6/7 */
}

.mR10 {margin-right:10px;}

.boR {
	border-right:1px solid #CFD0D0;
}

/*-----main-----*/

#wrapper{
	width:100%;
	min-width:320px;
	height:auto;
}

#content {
	font-size:0.8em;
}

.contents {
	padding:10px;
}

h1 {
	font-size:1.17em;
	font-weight:bold;
	color:#000000;
}

/*-----header-----*/

#header {
	position:relative;
	width:100%;
	height:54px;
	background: #B993D6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #B993D6 , #8CA6DB); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #B993D6 , #8CA6DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#ffffff;
}

#header .mainLogo {
	position:absolute;
	top:10px;
	left:10px;
	width:34px;
	height:34px;
	background:url(../images/mainlogo_sp.png) no-repeat 0 0;
	background-size:34px 34px;
	-webkit-background-size:34px 34px;
	-moz-background-size:34px 34px;
	text-indent:-9999px;
	cursor: pointer;
}

#header .mainLogo:hover {
}

#header .loginArea {
	position:absolute;
	top:10px;
	right:10px;
}

#header .loginArea ul {
	height:30px;
}

#header .loginArea ul li {
	float:left;
	width:100px;
	height:30px;
	text-align:center;
	line-height:1.9;
	border:1px solid #ffffff;
	border-radius:5px;
	cursor: pointer;
}

#header .loginArea ul li a {
	display:block;
	width:100px;
	height:30px;
	top:0;
	left:0;
	border-radius:5px;
	color:#ffffff;
	cursor: pointer;
}

#header .loginArea ul li:hover {
	background-color:rgba(255,255,255,0.3);
}

/*-----navi-----*/

#nav {
	width:100%;
	height:40px;
	border-bottom:1px solid #CFD0D0;
	overflow:hidden;
}

#nav ul li {
	display:table-cell;
	float:left;
	width:33%;
	padding:8px 0px;
	text-align:center;

}

/*-----maininfo-----*/

.mainInfo {
	width:100%;
}

.mainInfo .iconImage {
	width:70px;
	height:70px;
	margin-bottom:5px;
	border:1px solid #CFD0D0;
	border-radius:4px;
}

.mainInfo .account {
	color:#999999;
	font-size:0.8em;
}

.mainInfo span {
	font-size:0.9em;
}

/*-----tab-----*/

.tabArea {
	.tabs {
		display:table;
		width:100%;
		border:1px solid #999999;
		border-radius:5px;
		table-layout:fixed;
		font-size:0.9em;
		li {
			display:table-cell;
		}
		a {
			display:block;
			padding:5px 0px;
			text-align:center;
			color:#999999;
			&.tab1 {
				margin-right:-1px;
			}
			&.boR {
				border-right:1px solid #999999;
			}
			&:hover {
				color:#ffffff;
				background-color:#999999;
				-webkit-transition: all .3s;
				transition: all .3s;
			}
			&.current {
				color:#ffffff;
				background-color:#999999;
				-webkit-transition: all .3s;
				transition: all .3s;
			}
		}
	}
	.viewMore {
		display:block;
		width:100%;
		padding-top:10px;
		padding-bottom:5px;
		color:#999999;
		text-align:center;
	}
}

/*-----tab__images-----*/

#images {
	li {
		img {
			max-width:458px;
			min-width:288px;
			height:auto;
			margin:10px auto 0px;
			border:1px solid #EAEAEA;
		}
	}
}

/*--------------------dashboard----------------------*/

/*-----tab__followList-----*/

.tabArea .box {
	overflow:hidden;
}

.tabArea #followList {
	ul {
		overflow:hidden;
		display:block;
	  -webkit-margin-before:5px;
		-webkit-margin-after:5px;
	  -webkit-margin-start:0px;
	  -webkit-margin-end:0px;
	  h1 {
			padding-top:10px;
			color:#e4007f;
			font-weight:bold;
	  }
		li {
			float: left;
			width:50%;
			box-sizing:border-box;
			img {
				display:block;
				width:140px;
				height:140px;
				margin:0 auto;
				vertical-align:middle;
				text-align:center;
				border:1px solid #EAEAEA;
			}
			h2 {
				font-weight:bold;
				width:140px;
				height: 30px;
				margin:0px auto 10px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}


/*-----schedule-----*/

.schedulePeriod {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	color: black;
	.scheduleYear {
		margin-left: 5px;
	}
	.scheduleMonth {
		margin-left: 10px;
	}
}
.scheduleDayWrapper {
	overflow: hidden;
	width: 100%;
	height: auto;
	.scheduleDayBox {
		float: left;
		width: 10%;
		color: black;
		text-align: center;
		&.finished {
			color: #999;
		}
		&.today {
			color: #d31277;
		}
		.scheduleDay {
			margin-top: 9px;
			font-size: 14px;
		}
		.scheduleDayOfTheWeek {
			font-size: 10px;
		}
	}
	.scheduleContentBox {
		position: relative;
		float: right;
		margin-bottom: 10px;
		padding-bottom: 5px;
		width: 87%;
		background: #5375b1;
		&.finished {
			background: #898989;
		}
		.scheduleContentTime {
			margin-top: 5px;
			margin-left: 5px;
			font-size: 11px;
			color: white;
		}
		.scheduleContentName {
			margin-left: 5px;
			width: 85%;
			font-size: 13px;
			color: white;
		}
		.scheduleContentDescription {
			margin-left: 5px;
			width: 85%;
			font-size: 12px;
			color: white;
		}
		.scheduleContentReserveButton {
			margin-top: 7px;
			margin-bottom: 7px;
			margin-left: auto;
			margin-right: auto;
			width: 92px;
			height: 30px;
			background: #cacfe3;
			border: 1px solid #d31277;
			border-radius: 5px;
			color: #d31277;
			font-size: 14px;
			text-align: center;
			line-height: 2em;
		}
		.scheduleStar {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 20px;
			height: 20px;
			background: #b5b6b6;
			&.active {
				background: #d31277;
			}
		}
	}
	.scheduleNowDivider {
		position: relative;
		float: right;
		margin-top: -2px;
		margin-bottom: 8px;
		width: 87%;
		height: 1px;
		background: #d31277;
		&:before {
			position: absolute;
			top: -5px;
			right: 100%;
			content: "";
			width: 10px;
			height: 10px;
			background: #d31277;
			border-radius: 50%;
		}
	}
}

/*-- fyucha --*/

.fyuchaTotal {
	margin-top: 10px;
	margin-right: 0px;
	font-size: 12px;
	color: #db1277;
	text-align: right;
	.fyuchaToalNumerals {
		margin-left: 5px;
		font-size: 18px;
	}
}
.fyuchaGraph {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 200px;
	background: #db1277;
}
.fyuchaCommitsTitle {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
	color: #db1277;
}
.fyuchaCommits {
	.fyuchaCommit {
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
		border-bottom: 1px solid #c9caca;
		.fyuchaCommitUserArea {
			position: relative;
			float: left;
			width: 50%;
			height: 42px;
			.fyuchaCommitUserThumbnail {
				position: absolute;
				top: 8px;
				left: 0px;
				width: 28px;
				height: 28px;
				img {
					width: 28px;
					height: auto;
				}
			}
			.fyuchaCommitUserName {
				position: absolute;
				top: 5px;
				left: 35px;
				color: black;
				font-size: 12px;
			}
			.fyuchaCommitUserAccount {
				position: absolute;
				top: 23px;
				left: 35px;
				color: #c9caca;
				font-size: 10px;
			}
		}
		.fyuchaCommitActionArea {
			position: relative;
			float: right;
			width: 50%;
			.fyuchaCommitActionText {
				position: absolute;
				top: 12px;
				right: 40px;
				color: #333333;
				font-size: 12px;
			}
			.fyuchaCommitActionNumerals {
				position: absolute;
				top: 0px;
				right: 5px;
				width: 23px;
				height: 35px;
				color: #db1277;
				font-size: 10px;
				text-align: center;
				background: url("../images/diamond.png") no-repeat;
				background-position: 0px 15px;
			}
		}
	}
}

